* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right,#8e73c2, #5875b7);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
}

.box {
   height:fit-content; 
   width:300px;
   padding: 50px;
   margin-top: 20px;
   text-align: center;
   background: rgba(255, 255, 255, 0.24);
}

h2{
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.303);
    margin-bottom: 30px;
}

ul {
    margin-top: 30px;
    list-style-type: none;
}

li {
    margin: 10px;
}

hr {
    border: 1px solid #5875b760;
    border-radius: 10px;
}

h1 {
    margin: 20px;
    font-size: 3rem;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

button {
    background: yellow;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 20px;
}